/*----------------------------------------------------------------*\
	BUTTONS
\*----------------------------------------------------------------*/
button,
.button {
	display: inline-block;
	margin: 0;
	padding: 6px var(--Inbetween) var(--xSmall) var(--Inbetween);
	border: 2px solid var(--Blue);
	color: var(--White);
	font-weight: 700;
	font-size: 18px;
	font-family: 'Sunflower', sans-serif;
	line-height: 1.618;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	background-color: var(--Blue);
	transition: all 0.15s linear;
	min-width: 120px;

	&:hover,
	&:focus {
		border-color: var(--BlueDark);
		background-color: var(--BlueDark);
	}

	&.is-ghost {
		color: var(--Blue);
		background-color: transparent;
		transition: all 0.2s linear;

		&:hover,
		&:focus {
			color: var(--White);
			background-color: var(--BlueDark);
		}
	}

	&.is-green {
		border-color: var(--Green);
		color: var(--Black);
		background-color: var(--Green);

		&:hover,
		&:focus {
			border-color: var(--GreenDark);
			color: var(--White);
			background-color: var(--GreenDark);
		}

		&.is-ghost {
			border-color: var(--GreenDark);
			color: var(--GreenDark);
			background-color: transparent;

			&:hover,
			&:focus {
				color: var(--White);
				background-color: var(--GreenDark);
			}
		}
	}

	&+button,
	&+.button {
		margin-left: var(--Inbetween);
	}
}

/*----------------------------------------------------------------*\
	WORDPRESS WYSIWYG WRAP BUTTONS IN P TAG
\*----------------------------------------------------------------*/
p .button:first-child {
	margin-top: 8px;
	margin-bottom: 12px;
}

/*----------------------------------------------------------------*\
	WOOCOMMERCE BUTTONS
\*----------------------------------------------------------------*/
.woocommerce #content input.button,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce-page #content input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button {
	background: var(--Blue) !important;
	background-color: var(--Blue) !important;
	color: var(--White) !important;
	text-shadow: transparent !important;
	box-shadow: none;
	border-color: var(--Blue) !important;
}

.woocommerce #content input.button:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce-page #content input.button:hover,
.woocommerce-page #respond input#submit:hover,
.woocommerce-page a.button:hover,
.woocommerce-page button.button:hover,
.woocommerce-page input.button:hover {
	background: var(--BlueDark) !important;
	background-color: var(--BlueDark) !important;
	color: var(--White) !important;
	text-shadow: transparent !important;
	box-shadow: none;
	border-color: var(--BlueDark) !important;
}

.woocommerce #content input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce-page #content input.button.alt,
.woocommerce-page #respond input#submit.alt,
.woocommerce-page a.button.alt,
.woocommerce-page button.button.alt,
.woocommerce-page input.button.alt,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	background: var(--Green) !important;
	background-color: var(--Green) !important;
	color: var(--Black) !important;
	text-shadow: transparent !important;
	box-shadow: none;
	border-color: var(--Green) !important;
}

.woocommerce #content input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.woocommerce-page #content input.button.alt:hover,
.woocommerce-page #respond input#submit.alt:hover,
.woocommerce-page a.button.alt:hover,
.woocommerce-page button.button.alt:hover,
.woocommerce-page input.button.alt:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
	background: var(--GreenDark) !important;
	background-color: var(--GreenDark) !important;
	color: var(--Black) !important;
	text-shadow: transparent !important;
	box-shadow: none;
	border-color: var(--GreenDark) !important;
}