/*-----------------------------------*\
	LISTS
\*-----------------------------------*/
ul,
ol {
	margin: var(--Inbetween) auto;
	padding: 0 0 0 var(--Small);
	list-style: none;

	& li {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		margin: 0 0 var(--Small) 0;

		&::before {
			display: inline-block;
			margin-right: var(--Small);
			color: var(--Green);
			font-weight: bold;
			font-size: 24px;
			line-height: 1;
			content: "\2022";
		}
	}
}

/*-----------------------------------*\
	NUMBER COUNTER
\*-----------------------------------*/
ol {
	counter-reset: li;

	& li {
		margin: 0 0 var(--Medium) 0;
		counter-increment: li;

		&::before {
			min-width: 28px;
			margin-left: -16px;
			font-family: Sunflower, sans-serif;
			text-align: right;
			content: counter(li);
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
&.has-2-columns {
	column-count: 1;

	@media(--phone) {
		column-count: 2;

		& li {
			padding-right: var(--Medium);
		}
	}
}

&.has-3-columns {
	column-count: 1;

	@media(--phone) {
		max-width: 1024px;
		margin: 4em auto;
		column-count: 3;

		& li {
			padding-right: var(--Medium);
		}
	}
}

&.has-4-columns {
	column-count: 1;

	@media(--phone) {
		column-count: 2;

		& li {
			padding-right: var(--Medium);
		}
	}

	@media(--tablet) {
		max-width: 1024px;
		margin: 4em auto;
		column-count: 4;
	}
}

/*-----------------------------------*\
	YOUTUBE EMBED
\*-----------------------------------*/
.youtube-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;

	& iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}