/*-----------------------------------*\
	FONT FAMILIES
\*-----------------------------------*/
/* 
	https://css-tricks.com/font-display-masses/
	TLDR: font-display: swap;
	https://css-tricks.com/snippets/css/using-font-face/
	TLDR: use woff and woff2 formats only
*/
@font-face {
	font-style: normal;
	font-weight: 400;
	font-family: 'Asap';

	src: url('../fonts/Asap-Regular.woff2') format('woff2'),
		url('../fonts/Asap-Regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: 700;
	font-family: 'Asap';

	src: url('../fonts/Asap-Bold.woff2') format('woff2'),
		url('../fonts/Asap-Bold.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: 300;
	font-family: 'Sunflower';

	src: url('../fonts/Sunflower-Light.woff2') format('woff2'),
		url('../fonts/Sunflower-Light.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-style: normal;
	font-weight: 700;
	font-family: 'Sunflower';

	src: url('../fonts/Sunflower-Bold.woff2') format('woff2'),
		url('../fonts/Sunflower-Bold.woff') format('woff');
	font-display: swap;
}

/*-----------------------------------*\
	HEADER
\*-----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1.2em;
	margin-bottom: 0.75em;
	font-weight: 700;
	line-height: 1.2;
	font-family: 'Sunflower', sans-serif;

	& span {
		display: block;
		margin-top: 8px;
		color: var(--GreenDark);
		font-weight: 400;
		font-size: 18px;
		font-family: 'Asap', sans-serif;
	}
}

h1+p {
	display: block;
	margin: 0;
	color: var(--GreenDark);
	font-weight: 400;
	font-size: 24px;
	font-family: 'Asap', sans-serif;
}

h1,
h2,
h3 {
	& span {
		font-size: 24px;
	}
}

h1 {
	font-size: 48px;

	@media(--phone) {
		font-size: 60px;
	}
}

h2 {
	font-size: 32px;

	@media(--phone) {
		font-size: 44px;
	}
}

h3 {
	font-size: 24px;

	@media(--phone) {
		font-size: 28px;
	}
}

h4 {
	font-size: 20px;

	@media(--phone) {
		font-size: 24px;
	}
}

h5 {
	font-size: 18px;

	@media(--phone) {
		font-size: 20px;
	}
}

h6 {
	font-size: 16px;

	@media(--phone) {
		font-size: 18px;
	}

	& span {
		font-size: 16px;
	}
}

/*-----------------------------------*\
	PARAGRAPHS
\*-----------------------------------*/
p {
	margin: 12px 0;
}

/*-----------------------------------*\
	INLINE LINKS
\*-----------------------------------*/
p,
ul,
ol {
	& a:not(.button) {
		color: var(--GreenDark);
		text-decoration: underline;
		transition: all 0.15s linear;

		&:hover,
		&:focus {
			text-decoration: underline;
			text-decoration-style: double;
		}
	}
}

/*-----------------------------------*\
	HORIZONTAL RULE
\*-----------------------------------*/
hr {
	width: 80%;
	height: 4px;
	margin: var(--xLarge) auto;
	border: 0;
	background-color: var(--Blue);
}

/*-----------------------------------*\
	TABLE
\*-----------------------------------*/
table {
	margin: var(--Large) auto;
}

/*-----------------------------------*\
	QUOTE
\*-----------------------------------*/
blockquote {
	width: 90%;
	max-width: 640px;
	margin: var(--Large) auto var(--Inbetween) auto;

	& p {
		color: var(--Blue);
		text-align: center;

		&:last-child:not(:first-child),
		&.quotee {
			color: var(--BlueDark);
			font-weight: 700;
			font-size: 18px;
			font-family: 'Sunflower', sans-serif;

			&::before {
				display: block;
				width: 150px;
				height: 2px;
				margin: var(--Small) auto;
				content: '';
				background-color: var(--Green);
			}
		}
	}
}

blockquote>*:first-child {
	margin-top: 0;
}

blockquote>*:last-child {
	margin-bottom: 0;
}

/*-----------------------------------*\
	WP ALIGNMENT
\*-----------------------------------*/
.alignright {
	text-align: right;
}

.alignleft {
	text-align: left;
}

.aligncenter {
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

img.alignright {
	display: block;
	float: right;
}

img.alignleft {
	display: block;
	float: left;
}

img.aligncenter {
	display: block;
	margin: 1em auto;
}