/*-----------------------------------*\
	POST HEADER
\*-----------------------------------*/
header.post-head {
	background-color: var(--Grey);
	padding: 96px 0;

	&>div {
		width: 90%;
		max-width: 1200px;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-gap: var(--Inbetween);
		align-items: center;

		@media(--tablet) {
			grid-template-columns: repeat(5, 1fr);
		}

		& .content {
			@media(--tablet) {
				grid-column: span 2;
			}

			& h1 {
				margin: 0;
			}

			& p {
				&:last-of-type:not(:last-child) {
					margin-bottom: var(--Inbetween);
				}
			}

			& a.button {
				margin-bottom: var(--xLarge);
			}
		}

		& .graphic {
			@media(--tablet) {
				grid-column: span 3;
			}

			& img {
				box-shadow: 0 16px 22px 0 rgba(5, 102, 141, 0.6);
				display: block;
			}
		}
	}
}