/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
footer.post-footer {
	background-color: var(--Grey);
	padding: var(--xLarge) 0 0 0;

	&>div {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-gap: var(--Medium);
		width: 80%;
		max-width: 1200px;
		margin: 0 auto;

		@media(--tablet) {
			width: 95%;
			grid-template-columns: 1fr 1.25fr;
			grid-gap: var(--xLarge);
		}

		& .widgettitle {
			margin-top: 0;
			margin-bottom: var(--Small);
			font-size: 18px;
		}

		& .widget_nav_menu ul {
			margin: 0;
			padding: 0;

			& li:before {
				display: none;
			}

			& a {
				font-size: 14px;
				text-decoration: none;
				color: var(--BLack);

				&:hover,
				&:focus {
					color: var(--GreenDark);
					text-decoration: underline;
					text-decoration-style: double;
				}
			}
		}

		& .brand-info {
			order: 2;
			text-align: center;

			@media(--tablet) {
				order: 1;
				text-align: left;
			}


			& img.brand-logo {
				width: auto;
				height: 64px !important;
				display: block;
				margin: 0 auto var(--Inbetween) auto;

				@media(--tablet) {
					height: 80px !important;
					margin: -16px 0 var(--Inbetween) 0;
				}
			}

			& .widget_text {
				padding-left: var(--Medium);
			}

			& a {
				color: var(--BlueDark);

				&:hover,
				&:focus {
					color: var(--GreenDark);
				}
			}
		}

		& .navigations {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: auto;
			grid-gap: var(--Inbetween);
			order: 1;

			@media(--phone) {
				grid-template-columns: repeat(3, 1fr);
			}

			@media(--tablet) {
				order: 2;
				grid-template-columns: repeat(4, 1fr);
			}

			&>*:nth-child(3) {
				grid-column: 2;

				@media(--phone) {
					grid-column: auto;
				}
			}

			& .social-navigation {
				display: flex;
				justify-content: center;
				align-items: flex-start;
				margin-top: 32px;
				grid-column: span 2;

				@media(--phone) {
					grid-column: span 3;
				}

				@media(--tablet) {
					margin-top: -4px;
					grid-column: span 1;
					justify-content: flex-start;
				}

				& a:hover,
				& a:focus {
					& img {
						background-color: var(--White);
					}
				}

				& .widget_media_image {
					margin-right: var(--Small);

					&:last-child {
						margin-right: 0;
					}

					& img {
						border-radius: 4px;
						width: 32px;
						height: 32px;
						padding: var(--xSmall);
						display: block;
						margin-right: var(--Small);
						transition: all .15s linear;
					}
				}
			}
		}

		& .copyright {
			order: 3;
			margin-top: 48px;

			@media(--tablet) {
				grid-column: span 2;
				margin-top: 0;
			}

			& p {
				display: inline-block;
				font-size: 12px;
				color: var(--BlueDark);
				margin: 0;

				& a {
					color: var(--BlueDark);
				}
			}

			& .menu-legal-container {
				display: inline-block;

				& ul {
					display: flex;
					font-size: 12px;
					flex-wrap: wrap;
					margin: var(--Medium) 0;
					padding: 0;

					& li {
						margin: var(--xSmall) var(--Small);

						&::before {
							display: none;
						}

						&:first-child {
							margin-left: 0;

							@media(--tablet) {
								margin-left: var(--Medium)
							}
						}

						& a {
							text-decoration: none;
							color: var(--BlueDark);

							&:hover,
							&:focus {
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
	}
}