/*-----------------------------------*\
	CARDS
\*-----------------------------------*/
section.card-grid {
	& h2 {
		grid-column: 1 / -1;
		margin: 0;
	}

	& .card {
		position: relative;
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		justify-content: flex-start;
		padding: var(--Medium);
		width: 100%;

		&>* {
			flex: 0 0 auto;
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}

		& figure {
			margin: 0;
			min-width: 64px;

			& img {
				display: block;
			}
		}

		& h3 {
			margin-bottom: 0;
			font-size: 20px;

			@media(--phone) {
				font-size: 24px;
			}
		}

		& p {
			flex: 1 1 auto;
			margin: var(--Small) 0 var(--Medium) 0;

			& span {
				display: block;
				margin-top: var(--Small);
				font-size: 14px;
				color: var(--Green);
			}
		}

		& a.button {
			margin: 0;
		}
	}

	&.image-cards {
		& .card {
			& figure {
				width: 100%;
				max-width: 640px;

				&.video-container {
					padding-top: 56.25%;
					height: 0px;
					position: relative;

					@media(--tablet) {
						padding: 0;
						height: 360px;
					}

					& iframe {
						width: 100%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
					}
				}
			}
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
section.card-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 32px;
	margin: var(--xLarge) auto;


	@media(--phone) {

		&.columns-2,
		&.columns-4 {
			grid-template-columns: repeat(2, 1fr);
		}

		&.columns-3 {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	@media(--tablet) {
		&.columns-4 {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}