/*-----------------------------------*\
	COVER
\*-----------------------------------*/
.cover {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	min-height: 40vh;
	margin: var(--xLarge) auto;
	padding: var(--xLarge) 0;
	background-color: var(--Grey);
	overflow: hidden;

	&::before {
		content: '';
		display: block;
		width: 200px;
		height: 200px;
		position: absolute;
		top: -40px;
		right: -40px;
		background-image: url('../images/icon-leaf.svg');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		transform: rotate(180deg);
		opacity: .25;
	}

	&::after {
		content: '';
		display: block;
		width: 200px;
		height: 200px;
		position: absolute;
		bottom: -40px;
		left: -40px;
		background-image: url('../images/icon-leaf.svg');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		opacity: .25;
	}

	&>div {
		z-index: 2;
		position: relative;
		width: 80%;
		max-width: 640px;
		color: var(--Black);

		& h2,
		& h3,
		& h4 {
			margin-bottom: 0;

			&+p {
				display: block;
				margin-top: 8px;
				color: var(--GreenDark);
				font-weight: 400;
				font-size: 18px;
				font-family: 'Asap', sans-serif;
			}
		}

		& p:first-child {
			font-size: 24px;
			line-height: 1.4;
		}

		&>*:first-child {
			margin-top: 0;
		}

		&>*:last-child {
			margin-bottom: 0;
		}
	}

	&.is-full-width>div {
		max-width: 960px;
	}
}