/*-----------------------------------*\
	LAZYLOAD IMAGES
\*-----------------------------------*/
.blur-up {
	transition: all 0.35s linear;
	filter: blur(8px);
}

.blur-up.lazyloaded {
	filter: blur(0);

	-webkit-filter: blur(0);
}

/*-----------------------------------*\
	IMAGE STYLES
\*-----------------------------------*/
.gallery {
	& figure {
		min-height: 10px;
		margin: 0;

		& img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&.columns-1 {
		margin: 100px auto;

		& figure {
			box-shadow: 0 16px 22px 0 rgba(5, 102, 141, 0.6);
			position: relative;

			&::before {
				content: '';
				display: block;
				width: 200px;
				height: 200px;
				position: absolute;
				top: -80px;
				right: -80px;
				z-index: -1;
				background-image: url('../images/icon-leaf.svg');
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				opacity: .25;
			}

			&::after {
				content: '';
				display: block;
				width: 200px;
				height: 200px;
				position: absolute;
				bottom: -80px;
				left: -80px;
				z-index: -1;
				background-image: url('../images/icon-leaf.svg');
				background-size: contain;
				background-position: center;
				background-repeat: no-repeat;
				transform: rotate(180deg);
				opacity: .25;
			}
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
.gallery {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 32px;
	margin: var(--xLarge) auto;

	@media(--phone) {

		&.columns-2,
		&.columns-4 {
			grid-template-columns: repeat(2, 1fr);
		}

		&.columns-3 {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	@media(--tablet) {
		&.columns-4 {
			grid-template-columns: repeat(4, 1fr);
		}
	}
}