/*-----------------------------------*\
	IMAGE + MEDIA
\*-----------------------------------*/
.media-text {
	margin: var(--xLarge) auto;

	&.image-cover {
		align-items: normal;

		& img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&>div {
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		&>*:first-child {
			margin-top: 0;
		}

		& img {
			display: block;
			width: 100%;
			max-width: 100%;
			height: auto;
			margin: 0 auto;
			box-shadow: 0 16px 22px 0 rgba(5, 102, 141, 0.6);
		}
	}
}

/*-----------------------------------*\
	IMAGE ALIGNMENT
\*-----------------------------------*/
.media-text {
	@media(--tablet) {
		&.has-image-on-right {
			&>div:first-child {
				order: 2;
			}

			&>div:last-child {
				order: 1;
			}
		}
	}
}

/*-----------------------------------*\
	ICON GRAPHIC
\*-----------------------------------*/
.media-text {
	position: relative;

	&::after {
		content: '';
		display: block;
		width: 200px;
		height: 200px;
		position: absolute;
		bottom: -64px;
		left: -80px;
		z-index: -1;
		background-image: url('../images/icon-leaf.svg');
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		transform: rotate(180deg);
		opacity: .25;
	}

	&.has-image-on-right {
		&::after {
			bottom: -64px;
			right: -80px;
			left: auto;
			transform: rotate(90deg);
		}
	}

	&+.media-text {
		&::after {
			display: none;
		}
	}
}

/*-----------------------------------*\
	COLUMNS
\*-----------------------------------*/
.media-text {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 32px;
	align-items: center;

	@media(--tablet) {
		grid-template-columns: repeat(2, 1fr);
	}
}