section.testimonial-slider {
	&>div {
		max-width: 960px;
		margin: 0 auto;
		position: relative;
	}

	& blockquote {
		padding: 0 var(--Inbetween);
		max-width: 100%;
	}

	& button {
		padding: 0;
		min-width: 0;
		background: transparent;
		border: 0;
		position: absolute;
		top: calc(50% - 12px);

		&.slick-prev {
			left: -5%;

			@media(--tablet) {
				left: -40px;
			}

			@media(--laptop) {
				left: -64px;
			}
		}

		&.slick-next {
			right: -5%;

			@media(--tablet) {
				right: -40px;
			}

			@media(--laptop) {
				right: -64px;
			}
		}

		& svg {
			width: 24px;
			height: 24px;
		}
	}
}