/*-----------------------------------*\
	VARIABLES
\*-----------------------------------*/
/*-----------------------------------*\
	xSmall: 4px
	Small: 8px
	Medium: 16px
	Inbetween: 24px
	Large: 32px
	xLarge: 64px
\*-----------------------------------*/
:root {
	--xSmall: .25rem;
	--Small: .5rem;
	--Medium: 1rem;
	--Inbetween: 1.5rem;
	--Large: 2rem;
	--xLarge: 4rem;
	--White: #FFFFFF;
	--Grey: #EBF2FA;
	--GreyDark: #9DA8AC;
	--Black: #253E48;
	--Green: #88D498;
	--GreenDark: #1A936F;
	--Blue: #427AA1;
	--BlueDark: #05668D;
}