/*----------------------------------------------------------------*\
	ARCHIVES TEMPLATES
\*----------------------------------------------------------------*/
/*-----------------------------------*\
	PAGINATION
\*-----------------------------------*/
nav.pagination {
	margin: 96px auto var(--Large) auto;
	text-align: center;

	& .page-numbers {
		margin: 0 var(--xSmall);
		display: inline-block;
		padding: 2px var(--Small) 0px var(--Small);
		border: 2px solid var(--GreenDark);
		color: var(--GreenDark);
		font-weight: 700;
		font-size: 18px;
		font-family: 'Sunflower', sans-serif;
		line-height: 1.618;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		transition: all 0.15s linear;
		background-color: transparent;

		&:hover,
		&:focus {
			color: var(--White);
			background-color: var(--GreenDark);
		}

		&.current {
			color: var(--White);
			background-color: var(--GreenDark);
		}

		&.next {
			margin: 0 0 0 var(--Small);
		}

		&.prev {
			margin: 0 var(--Small) 0 0;
		}
	}
}

/*-----------------------------------*\
	BLOG
\*-----------------------------------*/
header.archive-head {
	background: transparent;
	padding: 96px 0 0 0;
	margin: 0 0 var(--Medium) 0;
	display: flex;
	justify-content: center;
	align-items: center;

	&>div {
		display: block;
		width: 90%;
		margin-right: auto;
		margin-left: auto;
		max-width: 640px;

		& h1 {
			margin: 0;
		}
	}

	&+main>article {
		margin-top: 0;
	}
}

section.categories {
	margin-bottom: 96px;

	& h5 {
		margin: 0 0 var(--Small) 0;
	}

	& nav ul {
		flex-wrap: wrap;
		justify-content: flex-start;

		& li {
			padding: 0 var(--xSmall);

			& a {
				padding: 2px var(--Small) 0 var(--Small);
				min-width: 0;
			}

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}
}

section.post-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: var(--Large);

	&.cat-grid {
		margin-top: 96px !important;
	}

	& a {
		text-decoration: none;
		color: inherit;

		&:hover,
		&:focus {
			& figure {
				box-shadow: none;
			}

			& h3 {
				text-decoration: underline;
			}

			& .read-more {
				text-decoration: underline;
				text-decoration-style: double;
			}
		}
	}

	& .post-preview {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-gap: var(--Medium);

		@media(--phone) {
			grid-template-columns: 200px 1fr;
		}

		& figure {
			margin: 0;
			width: auto;
			transition: all 0.25s linear;
			box-shadow: 0 8px 11px 0 rgba(5, 102, 141, 0.6);

			& img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}

		& h3 {
			margin: 0;
		}

		& .read-more {
			display: block;
			color: var(--Green);
			text-decoration: underline;
		}
	}
}