/*----------------------------------------------------------------*\
	404 TEMPLATE
\*----------------------------------------------------------------*/
body.error404 {
	& header.post-head {
		min-height: 70vh;

		& h1+p {
			display: block;
			margin-top: 8px;
			color: var(--GreenDark);
			font-weight: 400;
			font-size: 24px;
			font-family: 'Asap', sans-serif;
		}
	}
}