body.page-template-forms {
	& .header-container {
		margin-top: 96px;

		& header {
			& h1 {
				margin: 0;

				&+h2 {
					display: block;
					margin-top: 8px;
					color: var(--GreenDark);
					font-weight: 400;
					font-size: 24px;
					font-family: 'Asap', sans-serif;
				}
			}
		}

		& section {
			margin: 0;
		}
	}
}