/*----------------------------------------------------------------*\
	FRONT PAGE TEMPLATE
\*----------------------------------------------------------------*/
body.page-template-front {
	& header.post-head>div .content {
		& h1 {
			line-height: 1;
			margin-bottom: var(--Medium);
		}

		& p {
			color: var(--Black);
			font-size: 16px;
		}

		& a.button {
			margin-bottom: 0;
		}
	}

	& section.featured-product {
		position: relative;
		margin: var(--xLarge) auto;

		&>div {
			display: grid;
			grid-template-columns: 1fr;
			align-items: center;

			@media(--tablet) {
				grid-template-columns: 3fr 2fr;
			}

			& a {
				text-decoration: none;
			}

			& img {
				display: block;
				height: calc(100% + 16px);
				width: 100%;
				object-fit: cover;
				object-position: center;
				margin-top: -8px;
				box-shadow: 0 16px 22px 0 rgba(5, 102, 141, 0.6);
			}

			& h3 {
				margin-top: 0;
				color: var(--Black);
			}

			& .prices {
				margin: 0;
				min-height: 65px;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-start;

				& del {
					color: var(--GreyDark);
					font-family: Sunflower, sans-serif;
					font-weight: 700;
					text-align: left;
					font-size: 16px;
					line-height: 1;
					display: block;
				}

				& ins {
					color: var(--GreenDark);
					font-family: Sunflower, sans-serif;
					font-weight: 700;
					font-size: 24px;
					text-decoration: none;
					border-bottom: 2px solid var(--Green);
					padding: 0 var(--Small) 0 0;
					text-align: left;
					margin: 0;
					display: inline-block;

					@media(--tablet) {
						font-size: 28px;
					}
				}
			}

			&>div {
				padding: var(--Medium) var(--Inbetween);
				box-shadow: 0 6px 12px 0 rgba(66, 122, 161, .6);
				border: 0;
				background: var(--White);
			}
		}

		&:before,
		&:after {
			content: "";
			display: block;
			width: 200px;
			height: 200px;
			position: absolute;
			z-index: -1;
			background-image: url(../images/icon-leaf.svg);
			background-size: contain;
			background-position: 50%;
			background-repeat: no-repeat;
			opacity: .25;
		}

		&:before {
			top: -80px;
			right: -80px;
		}

		&:after {
			bottom: -80px;
			left: -80px;
			transform: rotate(180deg);
		}
	}

	& section.card-grid {
		&>div {
			width: 100%;

			& .card {
				@media(--tablet) {
					width: 50%;
				}
			}

			&:nth-child(even) {
				& .card {
					@media(--tablet) {
						margin-left: auto;
						margin-right: 0;
					}
				}
			}
		}
	}

	& section.extra-products {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 48px;
		align-items: center;

		@media(--phone) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media(--tablet) {
			grid-template-columns: repeat(3, 1fr);
		}

		&>h2 {
			grid-column: span 1;
			text-align: center;
			margin: 0;
			font-size: 24px;

			@media(--phone) {
				grid-column: span 2;
				font-size: 32px;
			}

			@media(--tablet) {
				grid-column: span 3;
			}
		}

		&>div:not(.action-card) {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			border: 0;
			height: 100%;

			@media(--tablet) {
				box-shadow: 0 6px 12px 0 rgba(66, 122, 161, .6);
			}

			& a {
				text-decoration: none;
			}

			& img {
				width: 100%;
				max-width: calc(100% + 18px);
				box-shadow: 0 10px 16px 0 rgba(5, 102, 141, .6);
				margin-left: 50%;
				transform: translateX(-50%);

				@media(--tablet) {
					width: calc(100% + 18px);
				}
			}

			& h3 {
				color: var(--Black);
				font-size: 20px;
				flex-grow: 1;
				text-align: left;
				text-decoration: none;
				margin: 0 var(--Small) 12px var(--Small);
				line-height: 1.5;
				font-weight: 700;
				padding: 0;

				@media(--tablet) {
					font-size: 24px;
				}
			}

			& .prices {
				margin: 0 var(--Small);
				min-height: 65px;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-start;

				& del {
					color: var(--GreyDark);
					font-family: Sunflower, sans-serif;
					font-weight: 700;
					text-align: left;
					font-size: 16px;
					line-height: 1;
					display: block;
				}

				& ins {
					color: var(--GreenDark);
					font-family: Sunflower, sans-serif;
					font-weight: 700;
					font-size: 24px;
					text-decoration: none;
					border-bottom: 2px solid var(--Green);
					padding: 0 var(--Small) 0 0;
					text-align: left;
					margin: 0;
					display: inline-block;

					@media(--tablet) {
						font-size: 28px;
					}
				}
			}

			& p {
				margin-left: var(--Small);
				margin-right: var(--Small);
				flex-grow: 1;
			}

			& a.button {
				margin-left: var(--Small);
				margin-bottom: var(--Medium);
			}
		}

		& div.action-card {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;

			& svg {
				width: 56px;
				height: 56px;
			}

			& h2 {
				margin: var(--Inbetween) 0 0 0;
			}

			& a.button {
				margin-top: var(--Medium);
			}
		}
	}
}