/*----------------------------------------------------------------*\
	NOTICES / MESSAGES
\*----------------------------------------------------------------*/
.woocommerce-notices-wrapper {
	background-color: var(--Grey);
	margin: 0;
	padding: var(--Medium) 0 0 0;

	& .woocommerce-message {
		width: 90%;
		max-width: 960px;
		margin: 0 auto;
	}
}

/*----------------------------------------------------------------*\
	LOGIN
\*----------------------------------------------------------------*/
body.woocommerce-account #customer_login {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: var(--xLarge);

	@media(--tablet) {
		grid-template-columns: 1fr 1fr;
	}

	&::before {
		display: none;
	}

	&::after {
		display: none;
	}

	&>div {
		width: 100% !important;
		float: none !important;
	}

	& h2 {
		font-size: 20px;

		@media(--phone) {
			font-size: 24px;
		}
	}

	& span.required {
		display: none;
	}

	& .woocommerce-form__label-for-checkbox {
		margin: 0 0 16px 0;

		& input {
			flex-shrink: 0;
			width: 16px;
			height: 16px;
			margin-top: 2px;
			vertical-align: middle;
			cursor: pointer;
			border: 1px solid var(--Black);
			border-radius: 5px;

			-webkit-appearance: none;
			-moz-appearance: none;

			&:checked {
				background-color: var(--Blue);
				border-color: var(--Blue);

				&+span {
					color: var(--Blue);

					&::before {
						opacity: 1;
					}
				}
			}
		}

		& span {
			position: relative;
			top: 2px;
			width: 100%;
			padding: 0 0 0 8px;
			line-height: 1.5;
			text-transform: none;

			&::before {
				position: absolute;
				top: 3px;
				left: -16px;
				display: block;
				width: 11px;
				height: 11px;
				content: '';
				background-image: url('../images/checkmark-white.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				opacity: 0;
				transition: all 0.15s linear;
			}

			&+.gfield_required {
				display: none;
			}
		}
	}

	& .woocommerce-privacy-policy-text {
		font-size: 14px;
		font-style: italic;
	}

	& button {
		margin-top: 16px;
	}
}

/*----------------------------------------------------------------*\
	SHOP & CATEGORIES
\*----------------------------------------------------------------*/
body.page-id-426,
body.parent-pageid-426 {

	& header.post-head {
		padding: var(--Large) 0 var(--Medium) 0;
		background: transparent;

		&>div {
			max-width: 960px;
		}

		& .content {
			grid-column: span 4;
		}

		& .graphic {
			display: none;
		}
	}

	& main>article {
		margin-top: 0;
	}

	& .wp-block-buttons {
		margin-bottom: 64px;

		& .wp-block-button.is-disabled a.wp-block-button__link {
			pointer-events: none;
			color: var(--White);
			background-color: var(--Blue);
		}

		& a.wp-block-button__link {
			display: inline-block;
			margin: 0;
			padding: 6px var(--Inbetween) var(--xSmall) var(--Inbetween);
			border: 2px solid var(--Blue);
			border-radius: 0;
			color: var(--Blue);
			font-weight: 700;
			font-size: 18px;
			font-family: 'Sunflower', sans-serif;
			line-height: 1.618;
			text-align: center;
			text-decoration: none;
			cursor: pointer;
			background-color: transparent;
			transition: all 0.15s linear;
			min-width: 120px;
			transition: all 0.2s linear;

			&:hover,
			&:focus {
				color: var(--White);
				background-color: var(--BlueDark);
			}
		}
	}

	& .wc-block-grid__products {
		display: grid !important;
		grid-gap: 40px;
	}

	& .has-4-columns .wc-block-grid__products {
		grid-template-columns: repeat(1, 1fr);

		@media(--phone) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media(--tablet) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	& .has-3-columns .wc-block-grid__products {
		grid-template-columns: repeat(1, 1fr);

		@media(--phone) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media(--tablet) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	& .has-2-columns .wc-block-grid__products {
		grid-template-columns: repeat(1, 1fr);

		@media(--phone) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	& .has-1-columns .wc-block-grid__products {
		grid-template-columns: repeat(1, 1fr);
	}

	& .wc-block-grid__product {
		display: flex;
		flex-direction: column;
		border: 0;
		width: 100% !important;
		max-width: 100% !important;

		@media(--tablet) {
			box-shadow: 0 6px 12px 0 rgba(66, 122, 161, 0.6);
		}

		&::before {
			display: none;
		}

		& .screen-reader-text {
			display: none;
		}

		& .wc-block-grid__product-link {
			color: inherit;
			text-decoration: none;
			margin: 0 !important;
			width: 100%;
		}

		& .wc-block-grid__product-image {
			width: 100%;
			box-shadow: 0 10px 16px 0 rgba(5, 102, 141, 0.6);
			margin-left: 50%;
			transform: translateX(-50%);

			& img {
				display: block;
			}

			@media(--tablet) {
				width: calc(100% + 18px);
			}
		}

		& .wc-block-grid__product-onsale {
			border: 2px solid var(--White);
			background-color: var(--Blue);
			color: var(--White);
			right: 8px;
			top: 8px;
			letter-spacing: 1px;
			position: absolute;
			margin: 0 !important;
		}

		&>*:not(.wc-block-grid__product-image) {
			margin-left: var(--Small);
			margin-right: var(--Small);
		}

		& .wc-block-grid__product-title {
			color: var(--Black);
			font-size: 20px;
			flex-grow: 1;
			text-align: left;
			margin-left: var(--Small);
			margin-right: var(--Small);
			line-height: 1.5;
			font-weight: 700;
			padding: 0;

			@media(--phone) {
				font-size: 24px;
			}

			& a {
				color: inherit;
				text-decoration: none;
			}
		}

		& .wc-block-grid__product-price {
			margin-bottom: 0;
			margin-left: var(--Small);
			margin-right: var(--Small);
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-end;
			min-height: 89px;
		}

		& .wc-block-components-product-price__regular,
		& del,
		& .wc-block-components-product-price__value,
		& ins {
			display: block;
			margin-bottom: 0;
			text-decoration: none;
		}

		& .woocommerce-Price-amount {
			color: var(--GreenDark);
			font-family: 'Sunflower', sans-serif;
			font-weight: 700;
			text-align: left;
			font-size: 24px;
			text-decoration: none;
			border-bottom: 2px solid var(--Green);
			padding: 0 var(--Small) 0 0;
			text-align: left;
			margin: 0 0 var(--Inbetween) 0;
			display: block;

			@media(--phone) {
				font-size: 28px;
			}
		}

		& .wc-block-components-product-price__regular,
		& del {
			& .woocommerce-Price-amount {
				color: var(--GreyDark);
				font-family: 'Sunflower', sans-serif;
				font-weight: 700;
				text-align: left;
				font-size: 18px;
				line-height: 1;
				text-decoration: line-through;
				border: 0;
				margin: 0;
			}
		}

		& .wc-block-grid__product-add-to-cart,
		& .wp-block-button__link {

			& button.wc-block-components-product-button__button,
			&>a {
				display: inline-block;
				margin: 0;
				padding: 6px var(--Inbetween) var(--xSmall) var(--Inbetween);
				border-radius: 0;
				border: 2px solid var(--Green);
				color: var(--Black);
				font-weight: 700;
				font-size: 18px;
				font-family: 'Sunflower', sans-serif;
				line-height: 1.618;
				text-align: center;
				text-decoration: none;
				cursor: pointer;
				background-color: var(--Green);
				transition: all 0.15s linear;
				min-width: 120px;

				&:hover,
				&:focus {
					border-color: var(--GreenDark);
					color: var(--White);
					background-color: var(--GreenDark);
				}
			}
		}
	}

}

/*----------------------------------------------------------------*\
	SINGLE PRODUCT
\*----------------------------------------------------------------*/
body.single-product {

	& .product {
		margin: 0 auto;
		background-color: var(--Grey);
		padding: var(--Large) 5%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;

		@media(--phone) {
			padding: var(--xLarge) 5%;
		}

		&::after {
			display: block;
			content: '';
			clear: both;
		}

		& .summary,
		& .woocommerce-product-gallery {
			width: 100% !important;
			margin: 0 !important;
			float: none !important;

			&:last-child {
				margin-top: var(--Inbetween) !important;
			}

			@media(--tablet) {
				width: 45% !important;
				max-width: 640px;

				&:last-child {
					margin-top: 0 !important;
					margin-left: var(--Large) !important;
				}
			}
		}

		& ol.flex-control-thumbs {
			margin-top: var(--Medium) !important;
			display: grid;
			grid-gap: 8px;
			grid-template-columns: repeat(4, 1fr);

			@media(--phone) {
				grid-template-columns: repeat(6, 1fr);
			}

			& li {
				float: none !important;
				width: 100% !important;

				&::before {
					display: none;
				}
			}
		}

		& h1 {
			margin-bottom: 0;
		}

		& .onsale {
			border-radius: 0;
			border: 2px solid var(--White);
			background-color: var(--Blue);
			color: var(--White);
			letter-spacing: 1px;
			position: initial;
			margin: 0 !important;
			padding: var(--Small) var(--Medium);
			text-transform: uppercase;
		}

		& .price {
			margin-bottom: 0;
			margin-left: var(--Small);
			margin-right: var(--Small);
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-end;
			min-height: 89px;

			& .wc-block-components-product-price__regular,
			& del,
			& .wc-block-components-product-price__value,
			& ins {
				display: block;
				margin-bottom: 0;
				text-decoration: none;
			}

			& .woocommerce-Price-amount {
				color: var(--GreenDark);
				font-family: 'Sunflower', sans-serif;
				font-weight: 700;
				text-align: left;
				font-size: 24px;
				text-decoration: none;
				border-bottom: 2px solid var(--Green);
				padding: 0 var(--Large) 0 0;
				text-align: left;
				margin: 0 0 var(--Inbetween) 0;
				display: block;

				@media(--phone) {
					font-size: 28px;
				}
			}

			& .wc-block-components-product-price__regular,
			& del {
				text-decoration: line-through;

				& .woocommerce-Price-amount {
					color: var(--GreyDark);
					font-family: 'Sunflower', sans-serif;
					font-weight: 700;
					text-align: left;
					font-size: 18px;
					line-height: 1;
					border: 0;
					margin: 16px 0 0 0;
				}
			}
		}

		& form.cart {
			display: flex;
			margin: 0;

			& input.qty {
				min-width: 80px;
				padding: var(--Small) 0 var(--Small) var(--Small);
			}

			& button.single_add_to_cart_button {
				display: inline-block;
				margin: 0;
				padding: 6px var(--Inbetween) var(--xSmall) var(--Inbetween);
				border-radius: 0;
				border: 2px solid var(--Green);
				color: var(--Black);
				font-weight: 700;
				font-size: 18px;
				font-family: 'Sunflower', sans-serif;
				line-height: 1.618;
				text-align: center;
				text-decoration: none;
				cursor: pointer;
				background-color: var(--Green);
				transition: all 0.15s linear;
				min-width: 120px;

				&:hover,
				&:focus {
					border-color: var(--GreenDark);
					color: var(--White);
					background-color: var(--GreenDark);
				}
			}
		}
	}

	& main>article {
		clear: both;
	}

}

/*----------------------------------------------------------------*\
	ACCOUNT
\*----------------------------------------------------------------*/
body.woocommerce-account {

	& header.post-head {
		padding: var(--Large) 0 var(--Medium) 0;
		background: transparent;

		&>div {
			max-width: 960px;
		}

		& .graphic {
			display: none;
		}
	}

	& main>article {
		margin-top: 0;
	}

	& nav.woocommerce-MyAccount-navigation {
		width: 100%;
		float: none;
		margin-bottom: var(--xLarge);

		& ul {
			flex-wrap: wrap;
			justify-content: flex-start;

			& li {
				padding: 0 var(--xSmall);
				width: auto;

				& a {
					padding: 2px var(--Small) 0 var(--Small);
					min-width: 0;
					display: inline-block;
					border: 2px solid var(--GreenDark);
					color: var(--GreenDark);
					font-weight: 700;
					font-size: 18px;
					font-family: 'Sunflower', sans-serif;
					line-height: 1.618;
					text-align: center;
					text-decoration: none;
					cursor: pointer;
					transition: all 0.15s linear;
					background-color: transparent;

					&:hover,
					&:focus {
						color: var(--White);
						background-color: var(--GreenDark);
					}
				}

				&.is-active {
					& a {
						color: var(--White);
						background-color: var(--GreenDark);
					}
				}

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					padding-right: 0;
				}
			}
		}
	}

	& .woocommerce-MyAccount-content {
		width: 100%;
		float: none;
	}
}

/*----------------------------------------------------------------*\
	CART
\*----------------------------------------------------------------*/
body.woocommerce-cart {

	& header.post-head {
		padding: var(--Large) 0 var(--Medium) 0;
		background: transparent;

		&>div {
			max-width: 960px;
		}

		& .graphic {
			display: none;
		}
	}

	& table.wc-block-cart-items {

		& th.wc-block-cart-items__header-total {
			width: 110px;
		}

		& .wc-block-components-sale-badge {
			background-color: var(--Green);
			border-color: var(--Green);
			color: var(--Black);
			border-radius: 0;
			padding: var(--xSmall) var(--Small) 3px var(--Small);
			margin-top: var(--Small);
		}
	}

	& .wc-block-components-totals-coupon {
		& h2 span:first-of-type {
			font-family: Asap, sans-serif;
			font-size: 16px;
			line-height: 1.618;
			color: var(--Black);
			font-weight: 700;

			&+span {
				padding: 0;
				display: none;
			}
		}

		& .wc-blocks-components-panel__button:focus {
			outline: none;
		}

		& input {
			border-radius: 0;
		}

		& button[type=submit] {
			border: 2px solid var(--Green);
			color: var(--Black);
			font-family: Sunflower, sans-serif;
			cursor: pointer;
			background-color: var(--Green);
			transition: all .15s linear;

			&:hover,
			&:focus {
				border-color: var(--GreenDark);
				color: var(--White);
				background-color: var(--GreenDark);
			}
		}
	}

	& .wc-block-cart__submit-container {
		& a.wc-block-cart__submit-button {
			border: 2px solid var(--Blue);
			color: var(--White);
			font-family: Sunflower, sans-serif;
			cursor: pointer;
			background-color: var(--Blue);
			transition: all .15s linear;

			&:hover,
			&:focus {
				border-color: var(--BlueDark);
				color: var(--White);
				background-color: var(--BlueDark);
			}
		}
	}
}

/*----------------------------------------------------------------*\
	CHECKOUT
\*----------------------------------------------------------------*/
body.woocommerce-checkout {

	& header.post-head {
		padding: var(--Large) 0 var(--Medium) 0;
		background: transparent;

		&>div {
			max-width: 960px;
		}

		& .graphic {
			display: none;
		}
	}

	& .woocommerce-form-coupon-toggle .woocommerce-info {
		background-color: var(--Grey);
		margin: 0;
		border: 0;
	}

	& #ship-to-different-address>.checkbox {
		display: flex;
		justify-content: center;
		align-items: center;

		& input {
			width: auto;
			margin-right: 10px;
		}

		& span {
			margin: 0;
		}
	}

	& .validate-required input {
		display: inline-block;
		width: auto;
	}

	& .wc-block-components-order-summary-item {
		& .wc-block-components-order-summary-item__quantity {
			font-weight: bold;
			border-width: 2px;

			& .screen-reader-text {
				display: none;
			}
		}

		& .wc-block-components-product-metadata {
			display: none;
		}
	}

	& .wc-block-components-totals-coupon {
		& .screen-reader-text {
			display: none;
		}
	}

	& .wc-block-components-checkout-step {
		& .screen-reader-text {
			display: none;
		}
	}

	& .wc-block-checkout__main .wc-block-checkout__actions {
		margin-bottom: var(--Inbetween);
	}

	& .wc-block-components-checkout-policies {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
		padding: 0 34px;

		& li {
			&::before {
				display: none;
			}
		}
	}
}

.woocommerce-thankyou-order-details {
	margin: 0;
	padding: 0;

	& li {
		align-items: center;
		grid-gap: 4px;

		&::before {
			display: none;
		}
	}
}