/*-----------------------------------*\
	COOKIE BAR
\*-----------------------------------*/
.cookie-useage-notification {
	position: fixed;
	bottom: var(--Medium);
	left: var(--Medium);
	width: calc(100% - 32px);
	max-width: 350px;
	max-height: 0;
	padding: 0;
	background-color: var(--White);
	box-shadow: 0 8px 11px 0 rgba(5, 102, 141, .6);
	overflow: hidden;
	z-index: 9999999;

	&.note-on {
		max-height: 100vh;
		padding: var(--Medium) 48px var(--Medium) var(--Medium);
	}

	& p {
		color: var(--Black);
		font-weight: 100;
		font-size: 14px;
		letter-spacing: .5px;
		margin: 0;

		& a {
			color: var(--Blue);
		}
	}

	& button {
		background: transparent;
		min-width: 0;
		top: 4px;
		right: 4px;
		position: absolute;
		padding: 0;
		border: 0;

		& svg {
			display: block;
			fill: var(--Blue);
			width: 32px;
			height: 32px;
			transition: all 0.15s linear;
		}

		&:hover,
		&:focus {
			& svg {
				fill: var(--BlueDark);
			}
		}
	}
}