/*-----------------------------------*\
	NAVIGATION
\*-----------------------------------*/
nav {
	& ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: wrap;

		@media(--tablet) {
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
		}

		& li {
			margin: 0 0 var(--Medium) 0;
			padding: 0;
			width: 100%;

			@media(--tablet) {
				width: auto;
				margin: 0;
				padding: 0 var(--Small);
			}

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}

			&::before {
				display: none;
			}
		}
	}
}

/*-----------------------------------*\
	PRIMARY NAVIGATION
\*-----------------------------------*/
nav.primary {
	&>div {
		width: 90%;
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		& svg.brand {
			display: block;
			height: 64px;
			width: 170px;
		}
	}

	& button.menu-open {
		display: block;
		background: transparent;
		padding: var(--xSmall);
		min-width: 0;
		border: 0;

		@media(--tablet) {
			display: none;
		}

		& svg {
			width: 32px;
			height: 32px;
			display: block;
		}
	}

	& .menu-primary-navigation-container {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		width: 80vw;
		background-color: var(--White);
		box-shadow: -10px 0 20px 0 rgba(5, 102, 141, 0.6);
		transform: translateX(120%);
		transition: all 0.25s linear;
		z-index: 999999;

		&.is-open {
			transform: translateX(0);
		}

		@media(--tablet) {
			position: initial;
			height: auto;
			width: auto;
			background: transparent;
			box-shadow: none;
			transform: none;
		}

		& ul {
			padding: var(--xLarge) var(--Medium);

			@media(--tablet) {
				padding: 0;
			}

			& li.menu-close {
				display: block;
				position: absolute;
				top: var(--xSmall);
				right: var(--Small);
				padding: var(--Small);
				width: auto;

				@media(--tablet) {
					display: none;
				}

				& a {
					color: var(--Blue);
					font-size: 18px;
					text-decoration: none;
					opacity: .5;
				}
			}

			& li {

				&.is-icon {
					padding: 0;
					width: 40px;
					height: 40px;
					text-indent: -9999px;
					overflow: hidden;
					border-radius: 4px;
					background-size: 28px;
					background-repeat: no-repeat;
					background-position: center;
					transition: all 0.25s linear;
					order: -1;

					@media(--tablet) {
						order: 0;
					}

					&:hover,
					&:focus {
						box-shadow: 0 8px 11px 0 rgba(5, 102, 141, .6);
					}

					&.icon-account {
						background-image: url('../images/icon-account.svg');
					}

					&.icon-cart {
						background-image: url('../images/icon-cart.svg');
					}

					&+.is-icon {
						margin-left: var(--Medium);
					}
				}

				& a:not(.button) {
					color: var(--Black);
					font-size: 18px;
					text-decoration: none;
				}

				@media(--tablet) {
					&.current-menu-item a:not(.button) {
						border-color: var(--GreenDark);
					}

					& a:not(.button) {
						padding: var(--Inbetween) var(--Medium);
						text-decoration: none;
						border-bottom: 4px solid transparent;

						&:hover,
						&:focus {
							border-color: var(--Green);
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}